@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3>If you have some question about the application you can write on this email bellow.</h3>
<address>
   <a href="mailto:annasapuzhak94@gmail.com">annasapuzhak94@gmail.com</a><br />

</address>